.myButton{
    height: 30px;
    position: absolute;
    margin-left: 230px;
    text-align: center;
}

.myButtonum{
   height: 30px;
    position: absolute;
    margin-left: 70px;
    text-align: center;
}
